@media screen and (max-width: 700px){
  :root{
    font-size: 1rem;
    font-weight: bold;
    color: #555553;
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}